/* Палітра */
:root{
    --color-primary-dark:#011C44;
    --color-primary-light:#2B7FFF;
    --color-primary-contrast:#FFFFFF;
    --color-secondary-light:#747272;
    --color-secondary-dark:#4A4A4A;
    --color-secondary-contrast-dark:#011F4A;
    --color-secondary-contrast-light:#FFD02B;

}
/* base */
body {
    font-family: roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-primary-dark);

}
ul{
    list-style: none;
}
.link{
    text-decoration: none;
    color: var(--color-primary-dark);
    cursor: pointer;
}
/* header */
.header-nav{
    font-size: 18px;
    line-height: 0.85;

}
.header-nav:hover{
    color: var(--color-primary-light);
    font-weight: 700;
}
/* .header-contact :hover{
    
} */
/* hero-section */
.hero-descr{
    font-size: 18px;
    line-height: 0.85;
}
.hero-title{
    font-family: play, sans-serif;
    font-weight: 700;
    font-size: 140px;
    line-height: 1.3;
    color: var(--color-primary-light);
}
.button-descr{
    font-size: 12px;
    line-height: 0.66;
}
/* button */
.button{
    font-weight: 600;
    line-height: 1.16;
    background-color: var(--color-primary-light);
    color: var(--color-primary-contrast);
    border: 2px solid;
    border-radius:32px;
    cursor: pointer;
}
.button :active,
.button:hover{
    background-color: transparent;
    /* border:2px 2px (--color-primary-light); */
    color:var(--color-primary-dark)
}
/* description-section */
.section-title{
    font-family: play;
    font-weight: 700;
    line-height: 1.15;
    font-size: 64px;
    color: var(--color-primary-dark);
    text-align: center;
}
.section-title .accent{
    color: var(--color-primary-light);
}
.description-descr{
    font-size: 22px;
    line-height: 1.7;
}
.description-descr .bold{
    font-weight: 600;
}

/* advantages-section */
.advantages-descr{
    line-height: 1.3;
    color: #000000;
}
/* procedures-section */

/* contacts-section */

.copyright{
    font-size: 13px;
    line-height: 1.17;
    color: var(--color-secondary-light);
}
/* footer */
.footer{
    background-color: var(--color-secondary-contrast-dark);
    border: 4px;
}
.footer-contact{
    font-size: 16px;
    line-height: 1.17;
    color: var(--color-primary-contrast);
}